/vendor
/node_modules
.env
.env.backup
.env.production
.env.*.local
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/.idea
/.vscode
/.fleet
/.nova
/.phpactor.json
/.phpunit.result.cache
.DS_Store
Thumbs.db
*.log
.git
.gitignore
.gitattributes
Dockerfile
docker-compose.yml
docker-compose.override.yml
.dockerignore
README.md
*.md
/phpunit.xml
/tests
/public/build
/public/hot
